/animalcare-frontend/node_modules
animalcare-frontend/node_modules/.bin/acorn
animalcare-frontend/node_modules/.bin/acorn.cmd
animalcare-frontend/node_modules/.bin/acorn
animalcare-frontend/node_modules/.bin/acorn.ps1
